<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">


    <p:panel style="text-align: center" rendered="#{not empty request.userPrincipal}">
        <p>
            #{msg['Bonjour']}<br/> (#{request.userPrincipal.name})

            <br/> <br/>
            <p:link value="#{msg['Notifications']} (#{nbNotification})" outcome="/connect/notifications" style="color:blue"/>
        </p>

        <h:form>
            <p:commandButton class="btn deep-purple white-text" value="#{msg['Deconnexion']}" action="#{loginBean.logout()}"/>
        </h:form>
    </p:panel>
    <br/>
    <h:form>
        <p:growl>
            <p:autoUpdate />
        </p:growl>

        <p:panel style="text-align: center;border: 0px solid black;margin-left: 25px">
            <h:form>
                <h:panelGrid columns="1">
                    #{msg['Langue']} 
                    <p:selectOneMenu value="#{internationalisation.localeCode}" onchange="submit()"
                                     valueChangeListener="#{internationalisation.countryLocaleCodeChanged}">
                        <f:selectItems value="#{internationalisation.countriesInMap}" /> 
                    </p:selectOneMenu>
                </h:panelGrid>
            </h:form>
        </p:panel>
        <p:panelMenu style="width:250px" >
            <p:submenu label="PCHelp" >
                <p:menuitem value="#{msg['Accueil']}" outcome="/accueil"/>
                <p:menuitem value="#{msg['MonCompte']}" outcome="/connect/index" />
            </p:submenu>
        </p:panelMenu>

        <p:panelMenu rendered="#{request.isUserInRole('admin')}" style="width:250px; margin-top: 25px">
            <p:submenu label="Administration" >
                <p:menuitem value="Utilisateur" outcome="/admin/utilisateur/index" />
                <p:menuitem value="Utilisateur Role" outcome="/admin/role/index" />
            </p:submenu>
        </p:panelMenu>
    </h:form>
</ui:composition>