<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>PCHelp</title>
    </h:head>

    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="west" size="250" header="Menu" resizable="true" closable="false" collapsible="true">
                <ui:include src="menu.xhtml"/>
            </p:layoutUnit>

            <p:layoutUnit position="east" size="250" header="" resizable="true" closable="false" collapsible="true">
                <p:panel style="text-align: center; border: 0px solid black">
                    <p:linkButton outcome="/connect/add_question" value="#{msg['PoserUneQuestion']}">

                    </p:linkButton>
                </p:panel>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <h:form>
                    <p:breadCrumb>
                        <p:menuitem value="" outcome="/accueil" />
                        <p:menuitem value="PCHELP" outcome="/accueil" />
                        <ui:insert name="top"></ui:insert>
                    </p:breadCrumb>
                </h:form>
                <br/>
                <ui:insert name="content">Content</ui:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>