<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <style type="text/css">
        .ui-g div {
            background-color: #ededed;
            text-align: center;
            border: 1px solid #fafafa;
        }
    </style>

    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  
    
    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:define name="content">
                <h1>#{msg['Inscrivez-vous']}</h1>

                <div class="ui-g">
                    <div class="ui-g-12">
                        <h:form id="form" enctype="multipart/form-data"  prependId="false">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <label for="pseudo">Pseudo:</label><br/>
                                    <p:inputText id="pseudo" value="#{loginBean.utilisateur.pseudo}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un pseudo"

                                                 >
                                        <f:ajax execute = "inputName" render = "outputMessage" />
                                    </p:inputText>
                                    <br/><h:message for="pseudo" errorStyle="font-weight: bold; color: red;"/>
                                    <br/>
                                    <h:outputText style="color: red" id = "outputMessage"
                                                  value = "#{loginBean.siPseudoDejaUtiliseAjax != null ?
                                                             loginBean.siPseudoDejaUtiliseAjax : ''}"
                                                  />
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <label for="email">Email:</label><br/>
                                    <p:inputText id="email" value="#{loginBean.utilisateur.email}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un adresse email"
                                                 validatorMessage="#{loginBean.utilisateur.email} n'est un adresse mail valide"
                                                 >
                                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                    </p:inputText>
                                    <br/><h:message for="email" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                            </div>

                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <label for="nom">Nom:</label><br/>
                                    <p:inputText id="nom" value="#{loginBean.utilisateur.nom}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un nom"/>
                                    <br/><h:message for="nom" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <label for="prenom">Prénom:</label><br/>
                                    <p:inputText id="prenom" value="#{loginBean.utilisateur.prenom}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un prenom"/>
                                    <br/><h:message for="prenom" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <label for="date_naissance">Date de naissance: </label><br/>
                                    <p:calendar 
                                        id="date_naissance"
                                        required="true"
                                        requiredMessage="Vous devez entrer une date de naissance"
                                        value="#{loginBean.utilisateur.dateDeNaissance}" 
                                        pattern="dd/MM/yyyy" 
                                        mask="true" >
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </p:calendar>
                                    <br/><h:message for="date_naissance" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                            </div>

<!--                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <h:outputText value="Photos:"></h:outputText><br/>
                                    
                                    <p:fileUpload
                                        id="photos"
                                        value="#{loginBean.file}"
                                        required="true"
                                        requiredMessage="Vous devez insérer une image"
                                        mode="simple">
                                    </p:fileUpload>
                                  
                                    <br/><h:message for="photos" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                            </div>-->
                            <br/>

                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <label for="mot mot_de_passe passe">Mot de passe</label><br/>
                                    <p:password 
                                        id="mot_de_passe"
                                        value="#{loginBean.utilisateur.motDePasse}" 
                                        inline="true"
                                        required="true"
                                        requiredMessage="Vous devez entrer un mot de passe"/>
                                    <br/><h:message for="mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
                                </div>

                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <label for="mot conf_mot_de_passe passe">Confirmation mot de passe</label><br/>
                                    <p:password id="conf_mot_de_passe"
                                                value="#{loginBean.confMotDePasse}"
                                                required="true"
                                                requiredMessage="Vous devez réentrer votre mot de passe"/>
                                    <br/><h:message for="conf_mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                            </div>
                            <br/>
                            <p:commandButton value="#{msg['S_inscrire']}" id="nonAjax" action="#{loginBean.inscription()}" style="margin-left:9px;" ajax="false" />
                            &nbsp;<h:link class="deep-purple-text" value="#{msg['Se_connecter']}" outcome="/auth/login" style="color:blue" />
                            <h:messages errorStyle="font-weight: bold; color: red;"/>
                        </h:form>
                        <br/>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-4 ui-lg-4"> 
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-4">
                                <p:link class="center deep-purple-text" outcome="/accueil"  value="#{msg.RetourALaccueil}" style="color:blue"/>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-lg-4">

                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
