<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  
    
    <h:head>
        <title>Page de login</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:define name="content">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4 ui-lg-4"> 
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <h1>#{msg['Connectez-vous']}</h1>
                        <div>
                            <h:form id="form">
                                <div>
                                    <label for="pseudo">Pseudo</label><br/>
                                    <p:inputText id="pseudo" value="#{loginBean.utilisateur.pseudo}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un pseudo"/>
                                    <br/><h:message for="pseudo" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <div>
                                    <label for="mot mot_de_passe passe">Mot de passe</label><br/>
                                    <p:password  id="mot_de_passe"
                                                 value="#{loginBean.utilisateur.motDePasse}"
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un mot de passe"/>
                                    <br/><h:message for="mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <p:commandButton id="nonAjax" class="btn-large deep-purple" value="#{msg['Se_connecter']}" action="#{loginBean.login()}" ajax="false"/>
                                &nbsp;<h:link class="deep-purple-text" outcome="/auth/inscription" value="#{msg['S_inscrire']}" style="color: blue"/> 
                                <br/><h:messages errorStyle="font-weight: bold; color: red;"
                                                 globalOnly="true"/>
                            </h:form>

                        </div>
                        <br/><br/>
                        
                        <p:link outcome="/accueil" style="margin-left: 10%;color: blue" value="#{msg['RetourALaccueil']}"/>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>