header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.sidenav li > a{
   color:#5e35b1 !important;
   font-weight: bold;
}

.sidenav li .btn {
    margin-left: 20px;
}

.my-divider{
    overflow: hidden;
    padding: 5px;
}
a{
    cursor: pointer ;
}
.centreo{
    margin: auto;
    text-align: center;
}
.righteo{
    position: relative;
    float: right;
    top:5px;
}
.breadcrumb{
    margin-left: 20px;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #5e35b1;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #5e35b1;
  box-shadow: none;
}