.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.login-box{
  display: inline-block; 
  padding: 32px 48px 0px 48px; 
  width:50%; 
  border: 1px solid #EEE;
}
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #5e35b1 !important;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #5e35b1 !important;
  box-shadow: none !important;
}


.input-field.col.s12 > p{
  color:red;
}

.my-divider{
    overflow: hidden;
    padding: 5px;
}
a{
    cursor: pointer ;
}
.centreo{
    margin: auto;
    text-align: center;
}
.righteo{
    position: relative;
    float: right;
    top:5px;
}
