<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:define name="top">
                <p:menuitem value="Admin" outcome="/admin/utilisateur/index" />
                <p:menuitem value="Utilisateur" outcome="/admin/utilisateur/index" />
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Liste des utilisateurs"/></h1>
                        <p:dataTable value="#{utilisateurMBean.allUtilisateur}" var="item">
                            <p:column style="text-align:center;">
                                <f:facet name="header">
                                    <h:outputText value="Pseudo"/>
                                </f:facet>
                                <h:outputText value="#{item.pseudo}"/>
                            </p:column>
                            <p:column style="text-align:center;" width="300">
                                <f:facet name="header">
                                    <h:outputText value="Email"/>
                                </f:facet>
                                <h:outputText value="#{item.email}"/>
                            </p:column>
                            <p:column style="text-align:center;">
                                <f:facet name="header">
                                    <h:outputText value="Nom"/>
                                </f:facet>
                                <h:outputText value="#{item.nom}"/>
                            </p:column>
                            <p:column style="text-align:center;">
                                <f:facet name="header">
                                    <h:outputText value="Prenom"/>
                                </f:facet>
                                <h:outputText value="#{item.prenom}"/>
                            </p:column>
                            <p:column style="text-align:center;">
                                <f:facet name="header">
                                    <h:outputText value="Date de naissance"/>
                                </f:facet>
                                <h:outputText value="#{item.dateDeNaissance}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column style="text-align:center;">
                                <f:facet name="header">
                                    <h:outputText value="Opérations"/>
                                </f:facet>
                                <p:link value="Modifier" outcome="/admin/utilisateur/modification">
                                    <f:param name="pseudo" value="#{item.pseudo}"/>
                                </p:link> &nbsp;&nbsp;&nbsp;
                                <h:commandLink 
                                    action="#{utilisateurMBean.supprimerCompte(item)}"
                                    title="Supprimer le compte de #{item.nom}" >
                                    <h:graphicImage name="images/del.png"/>
                                </h:commandLink> 
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </body>
</html>
