<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:define name="metadata">
                <f:metadata>
                    <f:viewParam name="pseudo" value="#{modificationUtilisateurMBean.pseudo}"/>
                    <f:viewAction action="#{modificationUtilisateurMBean.chargerUtilisateur()}"/>
                </f:metadata> 
            </ui:define>

            <ui:define name="top">
                <p:menuitem value="Admin" outcome="/admin/index" />
                <p:menuitem value="Utilisateur" outcome="/admin/utilisateur/index" />
                <p:menuitem value="Modification" outcome="/admin/utilisateur/modification" />
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Modification #{modificationUtilisateurMBean.utilisateur.pseudo}"/></h1>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Pseudo:" for="pseudo" />
                            <p:inputText id="pseudo" value="#{modificationUtilisateurMBean.utilisateur.pseudo}" title="Pseudo" required="true" requiredMessage="The Pseudo field is required."/>
                            <p:outputLabel value="Email:" for="email" />
                            <p:inputText id="email" value="#{modificationUtilisateurMBean.utilisateur.email}" title="Email" />
                            <p:outputLabel value="Nom:" for="nom" />
                            <p:inputText id="nom" value="#{modificationUtilisateurMBean.utilisateur.nom}" title="Nom" />
                            <p:outputLabel value="Prenom:" for="prenom" />
                            <p:inputText id="prenom" value="#{modificationUtilisateurMBean.utilisateur.prenom}" title="Prenom" />
                            <p:outputLabel value="Date de naissance" for="dateDeNaissance" />

                            <p:calendar 
                                id="dateDeNaissance" 
                                value="#{modificationUtilisateurMBean.utilisateur.dateDeNaissance}" 
                                title="Date de naissance" >
                                <f:convertDateTime pattern="dd/MM/yy" />
                            </p:calendar>
                        </p:panelGrid>
                        <br/>
                        <p:commandButton id='enregistrer'
                                         action='#{modificationUtilisateurMBean.enregistrer()}'
                                         value='Enregistrer'
                                         rendered='#{modificationUtilisateurMBean.utilisateur != null}'>
                        </p:commandButton>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </body>
</html>
