<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata> 

    <h:head>
        <title>Accueil</title>
    </h:head>

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">

            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="top">
                <p:menuitem value="#{msg.Accueil}" url="accueil.xhtml" />
            </ui:define>

            <ui:define name="content">
                <p:panel>
                    <p:panelGrid>
                        <h:form>
                            <h:outputLabel value="#{msg['Mot-cle']} : " style="" for="motcle"/>
                            <h:inputText id="motcle" value="#{accueilMBean.motcle}" style=""/>
                            <h:outputLabel value="#{msg['TitreOuContenue']} : " style="margin-left: 50px" for="texte"/>
                            <h:inputText id="texte" value="#{accueilMBean.texte}" style="width: 600px;margin-right: 40px"/>
                            <p:commandButton  value="#{msg['Rechercher']}" id="ajax" action="#{accueilMBean.getSearchQuestion(accueilMBean.motcle, accueilMBean.texte)}" 
                                                  style="margin-right:20px;" styleClass="ui-priority-primary"/>
                        </h:form>
                    </p:panelGrid>
                </p:panel>
                <p:dataScroller value="#{accueilMBean.questionList}" var="item">
                    <p:panel header="#{item.getDateFormat()}" toggleable="true" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:panelGrid style="text-align: center">
                                <h1>#{item.utilisateur.pseudo}</h1>
                                <p:graphicImage style="width:250px" library="images" name="profil/avatar.jpg" alt="profil" />
                                <p:dataList value="#{item.getAllMotCle()}" var="keyword" type="ordered">
                                    <f:facet name="header">
                                        Mot Clé(s)
                                    </f:facet>
                                    #{keyword}<br/><br/>
                                </p:dataList>
                            </h:panelGrid>
                            <h:panelGrid columns="1" cellpadding="10">
                                <h1>#{item.titre}</h1>
                                <!--<h:outputText value="#{item.question}" escape="false" />-->
                            </h:panelGrid>
                        </h:panelGrid>
                        <p:panel style="text-align: right; border: 0px solid black">
                            <p:link outcome="/detail_question" style="color:blue" value="#{msg['Voir-details']}">
                                <f:param name="idQuestion" value="#{item.questionId}" />
                            </p:link>
                            <h:form rendered="#{accueilBean.pseudoUtilisateur.compareToIgnoreCase(item.utilisateur.pseudo)==0 and (item.resolu==false or item.resolu==null)}" style="float: left">
                                <p:commandButton  value="Marquer comme résolue" id="ajax" action="#{accueilBean.resolu(item)}" 
                                                  style="margin-right:20px;" styleClass="ui-priority-primary"/>
                            </h:form>
                            <h:outputLabel rendered="#{item.resolu==true}" style="float: left;color: green" value="Résolue"></h:outputLabel>
                        </p:panel>
                    </p:panel>
                </p:dataScroller>
            </ui:define>
        </ui:composition>
    </body>
</html>
