<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>  
        <f:viewParam name="idQuestion" value="#{detailQuestionMBean.questionId}"  
                     required="true"/> 

        <f:viewAction action="#{detailQuestionMBean.loadQuestion()}"/>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>
    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="top">             
                <p:menuitem value="Question #{detailQuestionMBean.questionId}" url="detail_question.xhtml?idQuestion=#{detailQuestionMBean.questionId}" />                
            </ui:define>
            <ui:define name="content">

                <p:growl id="msgs" showDetail="true" />
                <p:fieldset legend="Question du #{detailQuestionMBean.question.getDateFormat()}" style="margin-bottom:20px" toggleable="true" toggleSpeed="500">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:panelGrid style="text-align: center">
                            <h1>#{detailQuestionMBean.question.utilisateur.pseudo}</h1>
                            <p:graphicImage style="width:250px" library="images" name="profil/avatar.jpg" alt="profil" />
                            <p:dataList value="#{detailQuestionMBean.question.getAllMotCle()}" var="keyword" type="ordered">
                                <f:facet name="header">
                                    Mot Clé(s)
                                </f:facet>
                                #{keyword}<br/><br/>
                            </p:dataList>
                        </h:panelGrid>
                        <h:panelGrid columns="1" cellpadding="10">
                            <h2>#{detailQuestionMBean.question.titre}</h2>
                            <h:outputText value="#{detailQuestionMBean.question.question}" escape="false" />

                        </h:panelGrid>
                    </h:panelGrid>


                    <p:panel style="text-align: right; border: 0px solid black">
                        il y a #{detailQuestionMBean.question.tempEcoule}
                    </p:panel>
                </p:fieldset>

                <p:fieldset legend="Liste des réponses (#{detailQuestionMBean.question.reponsesCollection.size()})" toggleable="true" toggleSpeed="500" style="border: 0px solid black">
                    <p:dataScroller value="#{detailQuestionMBean.question.reponsesCollection}" var="item">
                        <p:fieldset legend="#{item.utilisateur.pseudo} le #{item.getDateFormat()}" toggleable="true" toggleSpeed="500" style="border: 0px solid black">
                            <h:panelGrid columns="2" cellpadding="10">
                                <h:panelGrid style="text-align: center">
                                    <h1>#{item.utilisateur.pseudo}</h1>
                                    <p:graphicImage style="width:150px" library="images" name="profil/avatar.jpg" alt="profil" />

                                    <h:panelGrid columns="3" cellpadding="10">
                                        <h:panelGrid>
                                            <p:commandButton action="#{detailQuestionMBean.voteMoins(item.reponseId)}" value="-" immediate="true"/>
                                        </h:panelGrid>

                                        <h:panelGrid columns="1" cellpadding="10" style="text-align: center">
                                            <h:outputText value="#{item.vote}" escape="false" />
                                        </h:panelGrid>

                                        <h:panelGrid>
                                            <p:commandButton action="#{detailQuestionMBean.votePlus(item.reponseId)}" value="+" immediate="true"/>

                                        </h:panelGrid>
                                    </h:panelGrid>


                                </h:panelGrid>
                                <h:panelGrid columns="1" cellpadding="10">
                                    <h:outputText value="#{item.reponse}" escape="false" />
                                </h:panelGrid>
                            </h:panelGrid>

                            <p:panel style="text-align: right; border: 0px solid black">
                                il y a #{item.tempEcoule}
                            </p:panel>
                        </p:fieldset>
                    </p:dataScroller>
                </p:fieldset>
                <div class="ui-g">
                    <div class="ui-g-12" style="text-align: center">
                        <p:linkButton rendered="#{!detailQuestionMBean.question.resolu.booleanValue()}" outcome="/connect/add_reponse" value="#{msg.laisser_une_reponse}" style="text-align: center;color:blue">
                            <f:param name="idQuestion" value="#{detailQuestionMBean.questionId}" />
                        </p:linkButton>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
