<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>  
        <f:viewParam name="idQuestion" value="#{reponseBean.questionId}"  
                     required="true"/>  
        <f:viewAction action="#{reponseBean.loadQuestion()}"/>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>
    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="top">
                <p:menuitem value="Accueil" outcome="/accueil" />
                <p:menuitem value="Questions #{reponseBean.question.questionId}" outcome="/detail_question">
                    <f:param name="idQuestion" value="#{reponseBean.question.questionId}" />
                </p:menuitem>
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Ecrire une réponse"/></h1>
                        <p:editor id="editor" widgetVar="editorWidget" value="#{reponseBean.reponse.reponse}" height="300" style="margin-bottom:10px" required="true"/>
                        <p:commandButton action='#{reponseBean.repondre()}'
                                         value="Répondre" ajax="false"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </body>
</html>
