<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="top">
                <p:menuitem value="Nouvelle question" outcome="/connect/add_question" />
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Poser votre question"/></h1>
                        <br></br>
                        <label for="titre">Titre</label><br/>
                        <p:inputTextarea cols="150" rows="3" autoResize="false" id="titre" value="#{questionBean.question.titre}" style="margin-bottom:10px" required="true"/>
                        <br/><label for="motcle">Mot clé(s) séparateur point virgule "<b>;</b>" (ex:programmation;python)</label><br/>
                        <p:inputTextarea cols="150" rows="3" autoResize="false" id="motcle" value="#{questionBean.question.motcle}" style="margin-bottom:10px" required="true"/>
                        <br/><label for="question">Contenu</label><br/>
                        <p:editor id="editor" widgetVar="editorWidget" value="#{questionBean.question.question}" height="300" style="margin-bottom:10px" required="true"/>
                        <p:commandButton action='#{questionBean.poserQuestion()}'
                                         value="Poser la Question" ajax="false"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>
    </body>
</html>
