<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <style type="text/css">
        .ui-g div {
            background-color: #ededed;
            text-align: center;
            border: 1px solid #fafafa;
        }

    </style>
    
    <f:metadata>  
        <f:viewAction action="#{profilBean.loadUser()}"/>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>
    
    <body>

        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:param name="titre" value="Notifications"/>
            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="content">

                <div class="ui-g">
                    <div class="ui-g-12 ui-md-2 ui-lg-2"></div>
                    <div class="ui-g-12 ui-md-8 ui-lg-8">
                        <center>
                            <h1>#{msg.MonProfil}</h1>
                            <h:form id="form" class="ui-g">
                                <div class="ui-g-6">
                                    <label for="pseudo">Pseudo</label><br/>
                                    <p:inputText id="pseudo" value="#{profilBean.utilisateur.pseudo}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un pseudo" />
                                    <br/><h:message for="pseudo" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <div class="ui-g-6">
                                    <label for="email">Email:</label><br/>
                                    <p:inputText id="email" value="#{profilBean.utilisateur.email}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un adresse email"
                                                 validatorMessage="#{profilBean.utilisateur.email} n'est un adresse mail valide"
                                                 >
                                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                    </p:inputText>
                                    <br/><h:message for="email" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <div class="ui-g-6">
                                    <label for="pseudo">Nom</label><br/>
                                    <p:inputText id="nom" value="#{profilBean.utilisateur.nom}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un nom"/>
                                    <br/><h:message for="nom" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <br/>
                                <div class="ui-g-6">
                                    <label for="prenom">Prenom</label><br/>
                                    <p:inputText id="prenom" value="#{profilBean.utilisateur.prenom}" 
                                                 required="true"
                                                 requiredMessage="Vous devez entrer un prenom"/>
                                    <br/><h:message for="prenom" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <div class="ui-g-6">
                                    <label for="date_naissance">Date de naissance: </label><br/>
                                    <p:calendar 
                                        id="date_naissance"
                                        required="true"
                                        requiredMessage="Vous devez entrer une date de naissance"
                                        value="#{profilBean.utilisateur.dateDeNaissance}" 
                                        pattern="dd/MM/yyyy" 
                                        mask="true" >
                                        <f:convertDateTime pattern="dd/MM/yyyy" />
                                    </p:calendar>
                                    <br/><h:message for="date_naissance" errorStyle="font-weight: bold; color: red;"/>
                                </div>
                                <br/>
                                <div class="ui-g-6">
                                    <br/>
                                    <p:link outcome="/connect/modif_mdp" value="#{msg.ModifierMotDePasse}" style="text-align: center;color: blue">
                                    </p:link>
                                </div>
                                <br/>

                                <div class="ui-g-12">
                                    <p:commandButton class="btn-large deep-purple" value="#{msg.Enregistrer}" action="#{profilBean.enregistrer()}"/>
                                </div>


                            </h:form>

                        </center>
                    </div>
                    <div class="ui-g-12 ui-md-2 ui-lg-2"></div>

                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
