<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="top">             
                <p:menuitem value="Modification de mot de passe" url="/connect/modif_mdp" />                
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form id="form" enctype="multipart/form-data"  prependId="false">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <label for="mot mot_de_passe passe">Mot de passe</label><br/>
                                <p:password 
                                    id="mot_de_passe"
                                    value="#{modificationMotDePasseMBean.mdp}" 
                                    inline="true"
                                    required="true"
                                    requiredMessage="Vous devez entrer un mot de passe"/>
                                <br/><h:message for="mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
                            </div>

                            <div class="ui-g-12 ui-md-6 ui-lg-3">
                                <label for="mot conf_mot_de_passe passe">Confirmation mot de passe</label><br/>
                                <p:password id="conf_mot_de_passe"
                                            value="#{modificationMotDePasseMBean.confMdp}"
                                            required="true"
                                            requiredMessage="Vous devez réentrer votre mot de passe"/>
                                <br/><h:message for="conf_mot_de_passe" errorStyle="font-weight: bold; color: red;"/>
                            </div>
                        </div>
                        <br/>
                        <p:commandButton value="#{msg.ModifierMotDePasse}" id="nonAjax" action="#{modificationMotDePasseMBean.modifierMdp()}" style="margin-left:9px;" ajax="false" />
                        <h:messages errorStyle="font-weight: bold; color: red;"/>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>

    </body>
</html>
