<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  
    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">
            <ui:define name="top">
                <p:menuitem value="Notifications" outcome="/connect/notifications" />
            </ui:define>
            <ui:param name="nbNotification" value="#{notificationMBean.nbNotification}" />
            <ui:define name="content">
                <p:dataScroller value="#{notificationMBean.questionNotifie}" var="item">
                    <p:panel header="#{item.getDateFormat()}" toggleable="true" toggleSpeed="500" closeSpeed="500" widgetVar="panel" style="margin-bottom:20px">
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:panelGrid style="text-align: center">
                                <h1>#{item.utilisateur.pseudo}</h1>
                                <p:graphicImage style="width:250px" library="images" name="profil/avatar.jpg" alt="profil" />
                                <p:dataList value="#{item.getAllMotCle()}" var="keyword" type="ordered">
                                    <f:facet name="header">
                                        Mot Clé(s)
                                    </f:facet>
                                    #{keyword}<br/><br/>
                                </p:dataList>
                            </h:panelGrid>
                            <h:panelGrid columns="1" cellpadding="50">
                                <h1>#{item.titre}</h1>
                                <h:outputText value="#{item.question}" escape="false" />
                            </h:panelGrid>
                        </h:panelGrid>
                        <p:panel style="text-align: right; border: 0px solid black">
                            <p:link outcome="/connect/detail_question" style="color:blue" value="#{item.notifier} #{msg['nouvelle-reponse']}">
                                <f:param name="idQuestion" value="#{item.questionId}" />
                            </p:link>
                        </p:panel>
                    </p:panel>
                </p:dataScroller>
            </ui:define>
        </ui:composition>
    </body>
</html>
