<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>  

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">

            <ui:define name="top">
                <p:menuitem value="Admin" outcome="/admin/utilisateur/index" />
                <p:menuitem value="Utilisateur Role" outcome="/admin/role/index" />
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Liste des roles utilisateurs"/></h1>

                        <br/><br/>
                        <p:dataTable value="#{utilisateurRoleMBean.allUtilisateurRole}" var="item">
                            <p:column style="text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="Pseudo"/>
                                </f:facet>
                                <h:outputText value="#{item.pseudo}"/>
                            </p:column>
                            <p:column style="text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="Role"/>
                                </f:facet>
                                <h:outputText value="#{item.role}"/>
                            </p:column>
                            <p:column style="text-align: center">
                                <f:facet name="header">
                                    <h:outputText value="Action"/>
                                </f:facet>

                                <p:link 
                                    outcome="/admin/role/modifier"
                                    value="Modifier"
                                    title="Creation role utilisateur">
                                    <f:param name="pseudo" value="#{item.pseudo}"/>
                                </p:link>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </f:view>
            </ui:define>
        </ui:composition>

    </body>
</html>
