<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>  
        <f:viewParam name="pseudo" value="#{utilisateurRoleMBean.pseudo}"  
                     required="true"/>  
        <f:viewAction action="#{utilisateurRoleMBean.loadUtilisateurRole}"/>
        <f:viewAction action="#{internationalisation.loadLang()}"/>
    </f:metadata>

    <body>
        <ui:composition template="/WEB-INF/templates/primeface_top_left_foot.xhtml">

            <ui:define name="top">
                <p:menuitem value="Admin" outcome="/admin/utilisateur/index" />
                <p:menuitem value="Utilisateur Role" outcome="/admin/role/index" />
                <p:menuitem value="Modification"/>
            </ui:define>

            <ui:define name="content">
                <f:view>
                    <h:form>
                        <h1><h:outputText value="Créer utilisateur role"/></h1>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Pseudo:" for="pseudo" />
                            <p:inputText id="pseudo" value="#{utilisateurRoleMBean.utilisateurRole.pseudo}" title="Pseudo" required="true" requiredMessage="The Pseudo field is required."/>
                            <p:outputLabel value="Role:" for="role" />
                            <p:inputText id="role" value="#{utilisateurRoleMBean.utilisateurRole.role}" title="Role" />
                        </p:panelGrid>
                        <br/>

                        <p:commandButton 
                            id='modifier'
                            value="Modifier"
                            action="#{utilisateurRoleMBean.modifier()}"
                            >

                        </p:commandButton>
                    </h:form>
                </f:view>

            </ui:define>
        </ui:composition>

    </body>
</html>
